/*mobile section */
body {
    margin: 0;
    background-size: cover;
    padding: 0;
    background-color: black;
}
.container {
    margin: 0;
    padding: 0; /* Agrega padding 0 para evitar espacio alrededor */
}
.menu-mobile{
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.178);
    display: flex;
    margin: 0;
    padding: 0; /* Agrega padding 0 para evitar espacio alrededor */
}
.menu-mobile h1 {
    font-family: sans-serif;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    margin-left: 5px;
}
.menu-mobile2 {
    background-color: rgb(3, 3, 3);
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    margin-left: auto; /* Mueve el elemento hacia la derecha */
    padding: 10px; /* Agrega padding para espacio interno */
}
.menu-mobile2 h3:hover {
    color: aqua;
}
.menu-mobile2 h2:hover {
    color: aqua;
}
.menu-mobile2 h4:hover {
    color: aqua;
}
.menu-mobile2 h3, h4 {
    font-size: 13px;
    align-items: center;
    margin-left: 8px;
}
/*Segunda seccion*/

.homepage {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border: 4px solid white;
    border-radius: 15px;
    margin: 10% 5% 0 5%; 
    font-size: 30px;
    font-family: sans-serif;
}
.homepage h2 {
    text-align: center;
    margin: 5% 0 0 0;
    color: white;
}
.gradient {
    background: rgb(163,20,20);
    background: linear-gradient(180deg, rgba(163,20,20,1) 41%, rgba(0,0,0,1) 96%, rgb(0, 0, 0) 100%);
height: 25em;
width: 100%;
}
.gradient2 {
    background-image: url(stars.webp);
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el div */
    background-position: center; /* Centra la imagen en el div */
    padding: 0;
    margin: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 59%);
}
.gradient2::before {
    content: ""; /* Pseudo-elemento para superponer la imagen */
    position: absolute; /* Posicionamiento absoluto en relación con el div */
    top: 15em;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Resource/stars.webp'); /* Ruta a tu imagen webp */
    background-size: cover;
    background-position: center;
    opacity: 0.1; /* Ajusta la opacidad de la imagen superpuesta según tus preferencias */
}
.gradient2 p {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
    position: relative;
    z-index: 2;
}
.moon {
    position: absolute;
    top: 29em;
    height: 150px;
    width: 150px;
    z-index: 1;
}
ul {
    list-style: none;
}
.sobre-mi {
    margin: 10% 20px 0 20px;
}
.sobre-mi p {
    text-align: justify;
    padding: 0 5% 0 5%;
}
.sobre-mi h2 {
    text-align: center;
}
.imagen-mia {
    margin: 0 90px 0 90px;
    height: 50%;
    width: 50%;
    border-radius: 200px;
}

.gradient3 {
    background: rgb(45,253,62);
    background: linear-gradient(0deg, rgba(0, 0, 255, 0) 0%, rgba(0,0,0,1) 59%);
}
.portafolio ul {
    box-shadow: 0 0 2em rgba(0, 0, 255, 0.5);
    background-color: rgba(0, 0, 255, 0.055);
    color: white;
    padding: 10% 10% 0 10%;
    margin: 10% 0 0 0;
    justify-content: center;
    align-items: center;
}
.portafolio h2 {
    padding: 10%;
}
.gradient3 {
    position: relative;
    box-shadow: 0 0 5em rgba(1, 252, 239, 0.308);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 255, 0.144) 32%, rgb(34, 192, 195) 100%);
}
.experiencia ul {
    color: white;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 15px;
    margin: 0;
}
.experiencia {
    background-image: url(/Resource/clouds.png);
    background-position: center top; /* Posición original */
    background-size: cover;
    position: relative;
    z-index: 1;
}
.experiencia h2 {
    padding: 10%;
    color: white;
    justify-content: center;
}
.experiencia {
    position: relative;
    z-index: 2;
}


